<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sew</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700"
	rel="stylesheet">
<link href="http://allfont.net/allfont.css?fonts=agency-fb"
	rel="stylesheet" type="text/css" />
<link th:href="@{vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300&display=swap" rel="stylesheet">
<link href="http://allfont.net/allfont.css?fonts=agency-fb" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:300&display=swap&subset=devanagari,latin-ext" rel="stylesheet">
<link rel="icon" th:href="@{img/logo/favicon.png}">
<link rel="stylesheet" th:href="@{css/open-iconic-bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/animate.css}">
<link rel="stylesheet" th:href="@{css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{css/owl.theme.default.min.css}">
<link rel="stylesheet" th:href="@{css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{css/aos.css}">
<link rel="stylesheet" th:href="@{css/ionicons.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap-datepicker.css}">
<link rel="stylesheet" th:href="@{css/jquery.timepicker.css}">
<link rel="stylesheet" th:href="@{css/flaticon.css}">
<link rel="stylesheet" th:href="@{css/icomoon.css}">
<link rel="stylesheet" th:href="@{css/style.css}">
<link rel="stylesheet" th:href="@{slick/slick.css}">
<link rel="stylesheet" th:href="@{slick/slick-theme.css}">
<link rel="stylesheet" th:href="@{css/slider.css}">
<link rel="stylesheet" th:href="@{css/nav.css}">
<link rel="stylesheet" th:href="@{css/join.css}">
<link rel="stylesheet" th:href="@{css/sewMyPage.css}">
<link rel="stylesheet" th:href="@{css/sewPayment.css}">
</head>
<body>
	<nav
		class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
		id="ftco-navbar" th:replace="sewNav::nav"></nav>
	<!-- END nav -->

	<!-- Join Form -->
	<section class="ftco-section ftco-product">
		<div class="container">
			<div class="order_sc">
				<div class="payTit">
					<h2>장바구니</h2>
					<ol>
						<li>
							<span>01</span> 장바구니 
							<span class="arrows">></span>
						</li>
						<li class="onPage">
							<span>02</span> 주문/결제 
							<span class="arrows">></span>
						</li>
						<li>
							<span>03</span>
							주문완료
						</li>
					</ol>
				</div>
				<div class="order_content">
					<div class="product_area">
						<table cellspacing="0" class="tb_products">
							<caption>주문내역</caption>
							<colgroup>
								<col>
								<col width="120">
								<col width="90">
								<col width="120">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">상품정보</th>
									<th scope="col">배송비</th>
									<th scope="col">수량</th>
									<th scope="col" class="col_price">주문금액</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="buyList : ${selectList}">
									<td>
										<div class="product_info">
											<a href="https://smartstore.naver.com/main/products/4428552261" class="product_thmb" target="_blank"> 
												<img th:src="@{'/prodThumb/'+${buyList.prodThumbName}}" width="92" height="92">
											</a>
											<!--N=a:ord.product-->
											<div class="product_dsc">
												<a href="https://smartstore.naver.com/main/products/4428552261" target="_blank" class="product_name"> 
													<strong th:text="${buyList.prodName}"></strong>
												</a>
												<div class="option">
													<ul class="option_list">
														<li th:each="optionList : ${buyList.optionList}"
															th:text="'색상 : ' + ${optionList.prodColor} + 
																' / 사이즈  : ' + ${optionList.prodSize} + 
																' / 수량  : ' + ${optionList.prodAmount}">
														</li>
													</ul>
												</div>
											</div>
										</div>
									</td>
									<td rowspan="1">
										<span th:if="${buyList.prodDeli==0}" class="deli_fee">
											<span class="deliPrice">
												무료
											</span>
										</span>
										<span th:unless="${buyList.prodDeli==0}" class="deli_fee">
											<span class="deliPrice format-money" th:text="${buyList.prodDeli}"></span>원
										</span>
									</td>
									<td>
										<span th:text="${buyList.totalAmount}"></span>개
									</td>
									<td class="col_price">
										<span style="float: right;">
											<em class="format-money orgn_price" th:text="${buyList.totalListPrice}"></em>원
										</span>
										<strong>
											<em class="format-money" th:text="${buyList.totalPrice}"></em>원
										</strong>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="destination_wrap">
						<div class="deliver_wrap _deliveryInfos _deliveryInfoType">
							<h4>배송지정보</h4>
							<div class="allAddressArea">
								<div class="deliver_option_wrap new_delivery">
									<strong class="req short" title="필수입력">수령인</strong>
									<div class="deliver_option">
										<input type="text" title="수령인" placeholder="50자 이내로 입력하세요"
											maxlength="50" class="inp_txt2 name _deliveryForm"
											name="deliveryAddress.receiverName" value="윤동건"> <input
											type="hidden"
											name="deliveryAddress.purchaseMemberDeliveryPlaceSeq"
											value="">
									</div>
								</div>
								<div class="deliver_option_wrap">
									<strong class="req short" title="필수입력">연락처</strong>
									<div class="deliver_option">
										<div class="cellphone_group">
											<!-- select box -->											
											<select 
												
												id="deliveryAddress.telNo1_1"
												name="deliveryAddress.telNo1___1"
												class="selectbox-label _deliveryForm _group_tel1_1 _firstNumber">
												<option value="" disabled selected>선택</option>
												<option value="010" th:selected="${member.firstNum=='010'}">010</option>
												<option value="011" th:selected="${member.firstNum=='011'}">011</option>
												<option value="016" th:selected="${member.firstNum=='016'}">016</option>
												<option value="017" th:selected="${member.firstNum=='017'}">017</option>
												<option value="018" th:selected="${member.firstNum=='018'}">018</option>
												<option value="019" th:selected="${member.firstNum=='019'}">019</option>
												<option value="02">02</option>
												<option value="031">031</option>
												<option value="032">032</option>
												<option value="033">033</option>
												<option value="041">041</option>
												<option value="042">042</option>
												<option value="043">043</option>
												<option value="044">044</option>
												<option value="051">051</option>
												<option value="052">052</option>
												<option value="053">053</option>
												<option value="054">054</option>
												<option value="055">055</option>
												<option value="061">061</option>
												<option value="062">062</option>
												<option value="063">063</option>
												<option value="064">064</option>
												<option value="070">070</option>
												<option value="080">080</option>
												<option value="0130">0130</option>
												<option value="0303">0303</option>
												<option value="0502">0502</option>
												<option value="0503">0503</option>
												<option value="0504">0504</option>
												<option value="0505">0505</option>
												<option value="0506">0506</option>
												<option value="0507">0507</option>
												<option value="050">050</option>
												<option value="012">012</option>
												<option value="059">059</option>
											</select>
											<div class="cellPhone">
												 - 
												<input type="text" title="핸드폰번호 중간" id="deliveryAddress.telNo1_2" 
													name="deliveryAddress.telNo1___2" th:value="${member.middleNum}"
													class="inp_txt2 _deliveryForm _group_tel1_2 _onlyNumberTarget" maxlength="4">
												 - 
											 	<input type="text" title="핸드폰번호 뒷자리" id="deliveryAddress.telNo1_3"
													name="deliveryAddress.telNo1___3" th:value="${member.endNum}"
													class="inp_txt2 _deliveryForm _group_tel1_3 _onlyNumberTarget" maxlength="4">
											</div>
										</div>
									</div>
									<input type="hidden" id="reliefPhoneNumberHidden" class="_deliveryForm _reliefPhoneNumberUseYn" name="deliveryAddress.reliefPhoneNumberUseYn">
								</div>
								<div th:if=${member.memZipCode==null} class="deliver_option_wrap deli_address">
									<strong class="req" title="필수입력">배송지 주소</strong>
									<div class="deliver_option">
										<span class="zipcode_group"> 
											<input type="text" title="우편번호" class="inp_txt2 zipcode" 
												name="deliveryAddress.zipCode" id="postcode"
												readonly="readonly" maxlength="7" style="float: none;">
										</span>
										<button class="btn" onClick="findPostCode()">우편번호</button>
										<div class="addr_detail">
											<input type="text" title="주소" class="inp_txt2 addr_input1 _deliveryForm"
												id="addr1" name="deliveryAddress.baseAddress" value="" readonly="readonly"><br> 
											<input type="text" title="상세주소" class="inp_txt2 addr_input2 " 
												id="addr2" name="deliveryAddress.detailAddress" maxlength="50">
										</div>
									</div>
								</div>
								<div th:unless=${member.memZipCode==null} class="deliver_option_wrap deli_address">
									<strong class="req" title="필수입력">배송지 주소</strong>
									<div class="deliver_option">
										<span class="zipcode_group"> 
											<input type="text" title="우편번호" class="inp_txt2 zipcode" 
												name="deliveryAddress.zipCode" id="postcode" th:value="${member.memZipCode}"
												readonly="readonly" maxlength="7" style="float: none;">
										</span>
										<button class="btn" onClick="findPostCode()">우편번호</button>
										<div class="addr_detail">
											<input type="text" title="주소" class="inp_txt2 addr_input1 _deliveryForm" th:value="${member.memAddr1}"
												id="addr1" name="deliveryAddress.baseAddress" value="" readonly="readonly"><br> 
											<input type="text" title="상세주소" class="inp_txt2 addr_input2 "  th:value="${member.memAddr2}"
												id="addr2" name="deliveryAddress.detailAddress" maxlength="50">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="userinfo_wrap _purchaserInfo">
							<h4>주문자 정보</h4>
							<ul class="user_info">
								<li th:text="${member.memName}"></li>
								<li class="_telNoHighlight">
									<span class="memPhone" th:text="${member.memPhone}"></span>
									<button class="btn _click(nmp.front.order.order_sheet.changeMemberCellphone()) _stopDefault">수정</button>
									<!--N=a:ord.modifyphone-->
								</li>
								<li>
									<span class="memEmail" th:text="${member.memEmail}"></span>
									<button class="btn _click(nmp.front.order.order_sheet.changeMemberEmail()) _stopDefault">수정</button>
									<!--N=a:ord.modifyemail-->
								</li>
							</ul>
							<ul class="info_dsc">
								<li class="info_confirm">
									<span class="_telNoNoti _telNoDuplicated" style="display: none">
										<strong>휴대폰 번호를 확인해주세요!</strong><br>
										현재 등록되어 있는 휴대폰 번호가<br>다른사용자에게도 동일하게 등록되어<br>있습니다.<br>
										휴대폰 번호가 잘못 등록되어 있을 경우<br>정확한 주문/결제 알림을 받지 못할 수<br> 있습니다.
									</span> 
									<span class="_telNoNoti _telNoNeedRegistration" style="display: none">
										<strong>휴대폰 번호를 등록해주세요.</strong><br>
										휴대폰 번호가 등록되지 않으면 정확한<br>주문/결제 알림을 받지
										못할 수 있습니다.
									</span>
									<span class="_telNoNoti _telNoInfo" style="display: block">
										주문자 정보로 결제관련 정보가 제공됩니다.<br>
										정확한 정보로 등록되어있는지 확인해주세요.
									</span>
								</li>
							</ul>
							<input type="hidden" name="order.memberName" th:value="${member.memName}">
							<input type="hidden" name="order.memberCellPhoneNo" value="010-9**7-8**5"> 
							<input type="hidden" name="memberEmail" value="dbswlgh20@naver.com">
						</div>
						<span class="shdw_left"></span> <span class="shdw_right"></span>
					</div>
					<div class="discount_wrap">
						<div class="discount_info discountPriceInfo">
							<h4>
								할인 및 포인트
							</h4>
							<table cellspacing="0" class="tb_discount">
								<colgroup>
									<col width="121">
									<col width="126">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<th rowspan="2" style="vertical-align: top;">
											<div class="deliver_option_wrap">
												<strong class="req long">적립금</strong>
											</div> <a href="#" title="?"
											class="sp_order ico_que _click(nmp.front.order.order_sheet.showLayerCommon(naverPayPointLayer,false,false,left)) _stopDefault"></a>
										<!--N=a:ord.pntinfo-->
										</th>
										<th>보유 적립금</th>
										<td>
											<div class="input_area no_underline">
												<span class="value _pointBalance">697</span> <span
													class="measure">원</span>
											</div>
										</td>
									</tr>
									<tr>
										<th>사용 포인트</th>
										<td>
											<div class="input_area">
												<input type="text" id="mileage" title="네이버페이 포인트"
													name="payAmounts.NAVER_CASH" value="0"
													class="_onlyPriceTarget _calculationDiscountTarget _mileageUseAmount _subPayMeans _keyup(nmp.front.order.order_sheet.calculateTotalPriceOnKeyUp()) _blur(nmp.front.order.order_sheet.showClearPointButton()) _stopDefault _payForm">
												<span class="measure">원</span>
												<button class="btn _pointAllUseButton _click(nmp.front.order.order_sheet.useAllSubSettle()) _stopDefault ">전액사용</button>
											</div>											
											<!--N=a:ord.pntall-->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="price_sum">
							<h4>결제금액</h4>
							<input type="hidden" class="_totalPayAmount" value="197500">
							<div class="sum _lastTotalAccountPrice">
								<em class="totalPrice">197,500</em> 
								<span class="txt">원</span>
							</div>
							<ul class="calc_list">
								<li>
									<strong>총 상품금액</strong>
									<p>
										<em class="_totalOrderPrice">267,500</em>원
									</p>
								</li>
								<li>
									<strong>배송비</strong>
									<p>
										(+) <em class="_totalDeliveryFee">5,500</em>원
									</p>
								</li>
								<li>
									<strong>할인금액</strong>
									<p>
										(-) <em class="_totalDiscountPrice">75,500</em>원
									</p>
								</li>
								<li>
									<strong>적립금 사용금액</strong>
									<p>
										(-) <em class="_useNaverMileagePrice">0</em>원
									</p>
								</li>
							</ul>
						</div>
						<span class="shdw_left"></span> <span class="shdw_right"></span>
					</div>
					<div class="payment_wrap">
						<div class="payment_info">
							<h4>
								<span>결제정보</span>
							</h4>
							<div class="payment">
								<div class="_paymentsArea" style="display: block;">
									<div class="_generalPayments _paymentsTab" style="display: block;">
										<ul class="payment_list">
											<li class="payment_item">
												<span class="_payMeansClassRadio radio-applied">
													<span class="radio-mark radio-checked"></span>
													<input type="radio" id="pay0" name="payMeansClass" value="CREDIT_CARD" class="opt" checked="checked">
												</span> 
												<label for="pay0">신용카드</label>
											</li>
											<li class="payment_item">
												<span class="_payMeansClassRadio radio-applied">
													<span class="radio-mark"></span>
													<input type="radio" id="pay1" name="payMeansClass" value="VIRTUAL_ACCOUNT" class="opt _payMeansClass">
												</span>
												<label for="pay1">무통장입금</label>
											</li>
										</ul>
										<!-- 결제수단 문구 -->
										<div class="creditCard _tr_paymeans _accountInfo" style="display: block;">
											<div class="payment_option_wrap">
												<strong class="req short">카드구분</strong>
												<div class="payment_option">
													<ul class="radio_inline_list">
														<li><span class="_cardTypeRadio radio-applied"><span
																class="radio-mark _click(nmp.front.order.order_sheet.integration_cart.changeCardType()) radio-checked"></span><input
																type="radio" id="card" name="cardType" value="PRIVATE"
																class="_cardtype _payForm _click(nmp.front.order.order_sheet.integration_cart.changeCardType())"
																checked=""></span> <label for="card">개인카드</label></li>
														<li><span class="_cardTypeRadio radio-applied"><span
																class="radio-mark _click(nmp.front.order.order_sheet.integration_cart.changeCardType())"></span><input
																type="radio" id="card2" name="cardType"
																value="CORPORATION"
																class="_cardtype _payForm _click(nmp.front.order.order_sheet.integration_cart.changeCardType())"></span>
															<label for="card2">법인카드</label></li>
													</ul>
												</div>
											</div>
											<div class="payment_option_wrap">
												<strong class="req short">카드선택</strong>
												<div class="payment_option credit_option">
													<div class="select_section">
														<div id="cardCodeList" class="">
															<select title="카드종류" id="card_li" name="cardSettleInfo.cardCompanyTypeCode" 
																class="selectbox-label cardCompanyTypeCode _payForm _tr_paymeans"
																style="width: 120px;">
																<option class="selectbox-default _selectBoxDefault" disabled selected>선택해주세요.</option>
																<option value="C3">국민</option>
																<option value="C1">비씨</option>
																<option value="C0">신한</option>
																<option value="CH">현대</option>
																<option value="C7">삼성</option>
																<option value="C5">롯데</option>
																<option value="CA">외환</option>
																<option value="C4">NH</option>
																<option value="CF">하나</option>
																<option value="CB">우리</option>
																<option value="C2">광주</option>
																<option value="C8">수협</option>
																<option value="C9">씨티</option>
																<option value="CC">전북</option>
																<option value="CD">제주</option>
																<option value="CP">카카오뱅크</option>
																<option value="CQ">케이뱅크</option>
															</select>
														</div>
													</div>
													<p class="dsc _eventInfoStr"></p>
												</div>
											</div>
											<div class="payment_option_wrap">
												<strong class="req short">할부기간</strong>
												<div class="payment_option credit_option">
													<!-- select box -->
													<div class="select_section">
														<div id="installmentCodeList" class="">
															<select id="monthGeneralPay" name="freeInterestInstallmentInfo.installmentMonth"
																class="selectbox-label cardInstallmentPeriodClassCode _payForm"
																style="width: 120px;">
																<option value="01" selected>일시불</option>
																<option value="02">2개월</option>
																<option value="03">3개월</option>
																<option value="04">4개월</option>
																<option value="05">5개월</option>
																<option value="06">6개월</option>
																<option value="07">7개월</option>
																<option value="08">8개월</option>
																<option value="09">9개월</option>
																<option value="10">10개월</option>
																<option value="11">11개월</option>
																<option value="12">12개월</option>
															</select>
														</div>
													</div>
													<p class="dsc _noInstallmentStr"></p>
													<p class="dsc dsc_block" style="display: none;">
														<em class="highlight _noInstallmentMonthStr"></em>
													</p>
													<p class="dsc dsc_block" style="display: none;">
														<em class="highlight _eventInfoStr"></em>
													</p>
													<p class="dsc dsc_block _companycard_notice"
														style="display: none;">
														<em class="highlight">법인(개인사업자 법인 포함)카드는 할부/무이자혜택 적용
															불가</em>
													</p>
													<p class="dsc dsc_block _bccard_notice"
														style="display: none;">
														<em class="highlight">카드에 BC마크가 없는 경우 무이자 할부 적용 불가</em>
													</p>
												</div>
											</div>
										</div>
										<div class="virtualAccount _tr_paymeans _accountInfo" style="display: none">
											<div class="payment_option_wrap">
												<strong class="req short">입금은행</strong>
												<div class="payment_option">
													<!-- select box -->
													<div class="select_section">
														<div id="bankCodeList" class="">
															<select
																name="nonBankBookSettleInfo.nonBankBookPayBankCode"
																class="selectbox-label _nonBankBookPayBankCode _payForm"
																style="width: 120px;">
																<option class="selectbox-default _selectBoxDefault" selected disabled>선택해 주세요</option>
																<option value="011">농협</option>
																<option value="004">국민은행</option>
																<option value="088">신한은행</option>
																<option value="020">우리은행</option>
																<option value="003">기업은행</option>
																<option value="081">KEB하나은행</option>
																<option value="031">대구은행</option>
																<option value="032">부산은행</option>
																<option value="071">우체국</option>
																<option value="023">SC제일은행</option>
																<option value="034">광주은행</option>
																<option value="039">경남은행</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div
												class="banner_point type_space _eventBannerAreaCvsCharge"
												style="display: none;">
												<a href="https://campaign.naver.com/event/pointadd2_01"
													target="_blank"> <img
													src="https://phinf.pstatic.net/checkout/20190930_145/15698199838924zKnJ_JPEG/684x50.jpg"
													width="684" height="50" alt="무통장보다 쉽고 편한 방법, 네이버페이 편의점 충전!">
												</a>
												<!--N=a:ode.chcbanner-->
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="payment">
								<h4>
									<span>적립금</span>
								</h4>
								<div class="payment_option_wrap">
									<strong class="req short">예상 적립금</strong>
									<div class="payment_option">
										<div class="input_area no_underline">
											<span class="value _pointBalance">697</span> <span
												class="measure">원</span>
										</div>
									</div>
								</div>
							</div>
							<div class="agree_wrap">
								<div class="agree_required">
									<span
										class="checkbox checkbox-applied _click(nmp.front.order.order_sheet.onToggleAllAgree())"
										id="allAgree"> <span class="checkbox-mark"></span> <input
										type="checkbox" id="all_agree" name="allAgree"
										class="_certificationForm _allAgreeBtn">
									</span> <strong class="sp_order ico_agree_required"><label
										for="all_agree">전체 동의하기<span class="blind">(필수)</span></label></strong>
								</div>
								<ul class="agree_sub_list">
									<li class="sp_order agree_sub" style="display: none;">
										<div class="s_checkbox">
											<span
												class="checkbox checkbox-applied _click(nmp.front.order.order_sheet.checkAllAgreed())"
												id="mallProvisionAgree"> <span class="checkbox-mark"></span>
												<input type="checkbox" name="isAgreeMallContract"
												id="mall_provision_agree"
												class="_certificationForm _agreeBtn">
											</span> <label for="mall_provision_agree">쇼핑몰 구매 약관 동의 <a
												href="#"
												class="btn_bu _click(nmp.front.order.order_sheet.openMallProvision(true)) _stopDefault"
												title="쇼핑몰 구매약관">상세보기<span class="ico_more2"></span></a></label>
										</div>
									</li>
									<li class="sp_order agree_sub _productAgreement"
										style="display: list-item;">
										<div class="s_checkbox">
											<span
												class="checkbox checkbox-applied _click(nmp.front.order.order_sheet.checkAllAgreed())"
												id="buyAgree"> <span class="checkbox-mark"></span> <input
												type="checkbox" name="payAgreement" id="buy_agree2"
												class="_certificationForm _agreeBtn">
											</span> <label for="buy_agree2">위 상품의 구매조건 확인 및 결제진행 동의</label>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="payment_agree_wrap">
						<button class="btn_payment">
							<span class="txt_payment">결제하기</span>
						</button>
						<div class="shdw_bottom"></div>
					</div>
				</div>
				<div class="_layer_cart_add layerpop_wrap goCartPop" style="display: none; z-index: 10000; left: 791.5px; top: 400px;" tabindex="-1">
				    <div class="layer_inner">
				        <strong class="title">장바구니에<br>상품을 담았습니다.</strong>
				        <div class="button_wrap">
				            <a href="#" class="btn bg_white goMyCart" role="button">장바구니 보기</a>
				            <a href="#" class="btn bg_white closeCartPop" role="button">닫기</a>
				        </div>
				        <button type="button" class="button_close closeCartPop"></button>
				    </div>
				</div>
				<div class="_layer_order_check layerpop_wrap error" style="display: none; z-index: 10000; left: 791.5px; top: 400px;" tabindex="-1">
				    <div class="layer_inner">
				        <strong class="title _order_check_comment">
				        	<span class="fc_point">옵션</span>을 선택하지 않으셨습니다.<br>
				        	옵션을 <span class="fc_point">선택해 주세요.</span>
			        	</strong>
				        <button type="button" class="button_close" onclick="closePop(this)"></button>
				    </div>
				</div>
				<div class="_layer_cart_add layerpop_wrap goLoginPop" style="display: none; z-index: 10000; left: 791.5px; top: 400px;" tabindex="-1">
				    <div class="layer_inner">
				        <strong class="title">로그인이 필요합니다.</strong>
				        <div class="button_wrap">
				            <a href="#" class="btn bg_white goLogin" role="button">로그인</a>
				            <a href="#" class="btn bg_white" role="button" onclick="closePop(this)">닫기</a>
				        </div>
				        <button type="button" class="button_close" onclick="closePop(this)"></button>
				    </div>
				</div>
			</div>
		</div>
	</section>
	<!-- END Join Form -->

	<footer th:replace="sewFooter::footer"
		class="ftco-footer bg-light ftco-section"></footer>
	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen">
		<svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
		</svg>
	</div>
	<script th:src="@{js/jquery.min.js}"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script th:src="@{js/popper.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/jquery.easing.1.3.js}"></script>
	<script th:src="@{js/jquery.waypoints.min.js}"></script>
	<script th:src="@{js/jquery.stellar.min.js}"></script>
	<script th:src="@{js/owl.carousel.min.js}"></script>
	<script th:src="@{js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{js/aos.js}"></script>
	<script th:src="@{js/jquery.animateNumber.min.js}"></script>
	<script th:src="@{js/bootstrap-datepicker.js}"></script>
	<script th:src="@{js/scrollax.min.js}"></script>
	<script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false}"></script>
	<script th:src="@{js/google-map.js}"></script>
	<script th:src="@{js/main.js}"></script>
	<script th:src="@{slick/slick.js}"></script>
	<script th:src="@{slick/slick.min.js}"></script>
	<script th:src="@{js/slider.js}"></script>
	<script th:src="@{js/sewDetail.js}"></script>
	<script th:src="@{js/sewPayment.js}"></script>
	<script th:src="@{js/sewJoin.js}"></script>
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>