<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sew</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700"
	rel="stylesheet">
<link href="http://allfont.net/allfont.css?fonts=agency-fb"
	rel="stylesheet" type="text/css" />
<link th:href="@{vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300&display=swap" rel="stylesheet">
<link href="http://allfont.net/allfont.css?fonts=agency-fb" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:300&display=swap&subset=devanagari,latin-ext" rel="stylesheet">
<link rel="icon" th:href="@{img/logo/favicon.png}">
<link rel="stylesheet" th:href="@{css/open-iconic-bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/animate.css}">
<link rel="stylesheet" th:href="@{css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{css/owl.theme.default.min.css}">
<link rel="stylesheet" th:href="@{css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{css/aos.css}">
<link rel="stylesheet" th:href="@{css/ionicons.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap-datepicker.css}">
<link rel="stylesheet" th:href="@{css/jquery.timepicker.css}">
<link rel="stylesheet" th:href="@{css/flaticon.css}">
<link rel="stylesheet" th:href="@{css/icomoon.css}">
<link rel="stylesheet" th:href="@{css/style.css}">
<link rel="stylesheet" th:href="@{slick/slick.css}">
<link rel="stylesheet" th:href="@{slick/slick-theme.css}">
<link rel="stylesheet" th:href="@{css/slider.css}">
<link rel="stylesheet" th:href="@{css/nav.css}">
<link rel="stylesheet" th:href="@{css/sewProduct.css}">

</head>
<body>
	<nav
		class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
		id="ftco-navbar" th:replace="sewNav::nav"></nav>
	<!-- END nav -->

	<!-- Join Form -->
	<section class="ftco-section ftco-product">
		<div class="container">
			<div class="prodContainer">
				<form method="post" action="#">
					<input type="hidden" name="prodNo" id="prodNo" th:value="${prodDetail.prodNo}" readOnly>		
					<div class="productImgBox">
						<img th:src="@{'/prodthumb/'+${prodDetail.prodThumbName}}">
					</div>
					<div class="productBox">
						<hr>
						<div class="prodHeader">
							<h3 th:text="${prodDetail.prodName}"></h3>
						</div>
						<div class="prodDetailList">
							<table>
								<tr>
									<th>정가</th>
									<td>
										<del>
											 <span class="format-money" th:text="${prodDetail.prodListP}"></span><span>원</span>
										</del>
									</td>
								</tr>
								<tr>
									<th>판매가</th>
									<td>
										<h4>
											<span class="format-money" th:text="${prodDetail.prodPrice}"></span><span>원</span>
											<input type="number" hidden="hidden" id="prodPrice" name="prodPrice" th:value="${prodDetail.prodPrice}">
										</h4>
									</td>
								</tr>
								<tr>
									<th>배송비</th>
									<td>
										<span class="format-money" th:text="${prodDetail.prodDeli}"></span> <span>원 / 주문시결제(선결제)</span>
									</td>
								</tr>
								<tr>
									<th>상품코드</th>
									<td th:text="${prodDetail.prodCode}"></td>
								</tr>							
								<tr>
									<th>원산지</th>
									<td th:text="${prodDetail.prodOrigin}"></td>
								</tr>
								<tr>
									<th>옵션</th>
									<td>
										<select class="browser-default custom-select" id="colorOption">
											<option value="" selected disabled> = 색상 = </option>											
											<option th:each="color : ${prodColor}" th:value="${color.prodColor}" th:text="${color.prodColor}"></option>
										</select>
										<select class="browser-default custom-select" id="sizeOption">
										</select>
									</td>
								</tr>
								<tr>									
									<td colspan="2">
										<div style="overflow-y:auto; max-height: 200px;">
											<ul id="selectedList"></ul>
										</div>
										<div id="selectChk">
											<span>이미 추가된 상품입니다.</span>
										</div>										
									</td>
								</tr>
								<tr>
									<th>총 상품 금액</th>
									<td>
										<div class="total">
											<em class="totalMsg">총 수량 <span class="totalAmount">0</span>개</em>											
											<span class="totalPriceTxt">0</span><span class="won">원</span>
											<input type="number" hidden="hidden" id="totalPrice" name="totalPrice" readonly>											
											<input type="number" hidden="hidden" id="totalAmount" name="totalAmount" readonly>
										</div>
									</td>
								</tr>							
							</table>
						</div>		
						<div class="buttonsBox">
							<button id="addCart" th:if="${session.mem!=null}" class="addCart">
								<span class="icon-shopping_cart"></span>장바구니
							</button>
							<button th:unless="${session.mem!=null}" id="cantAddCart" class="addCart"><span class="icon-shopping_cart"></span>장바구니</button>							
							<input type="submit" name="buyBtn" value="결제하기">
						</div>
					</div>					
				</form>
				<iframe src="#" name="iframe" style="width:0px; height:0px; border:0; visibility:hidden;"></iframe>		
			</div>
			<div class="prodDetailHeader">
				<h3>상품제품정보</h3>				
			</div>
			<div class="prodDetailCont">
				<img th:src="@{'/prodcont/'+${prodDetail.prodContName}}">
			</div>
			<div class="_layer_cart_add layerpop_wrap goCartPop" style="display: none; z-index: 10000; left: 791.5px; top: 400px;" tabindex="-1">
			    <div class="layer_inner">
			        <strong class="title">장바구니에<br>상품을 담았습니다.</strong>
			        <div class="button_wrap">
			            <a href="#" class="btn bg_white goMyCart" role="button">장바구니 보기</a>
			            <a href="#" class="btn bg_white closeCartPop" role="button">닫기</a>
			        </div>
			        <button type="button" class="button_close closeCartPop"></button>
			    </div>
			</div>
			<div class="_layer_order_check layerpop_wrap error" style="display: none; z-index: 10000; left: 791.5px; top: 400px;" tabindex="-1">
			    <div class="layer_inner">
			        <strong class="title _order_check_comment">
			        	<span class="fc_point">옵션</span>을 선택하지 않으셨습니다.<br>
			        	옵션을 <span class="fc_point">선택해 주세요.</span>
		        	</strong>
			        <button type="button" class="button_close" onclick="closePop(this)"></button>
			    </div>
			</div>
			<div class="_layer_cart_add layerpop_wrap goLoginPop" style="display: none; z-index: 10000; left: 791.5px; top: 400px;" tabindex="-1">
			    <div class="layer_inner">
			        <strong class="title">로그인이 필요합니다.</strong>
			        <div class="button_wrap">
			            <a href="#" class="btn bg_white goLogin" role="button">로그인</a>
			            <a href="#" class="btn bg_white" role="button" onclick="closePop(this)">닫기</a>
			        </div>
			        <button type="button" class="button_close" onclick="closePop(this)"></button>
			    </div>
			</div>
		</div>
	</section>
	<!-- END Join Form -->

	<footer th:replace="sewFooter::footer"
		class="ftco-footer bg-light ftco-section"></footer>
	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen">
		<svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none"
				stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none"
				stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg>
	</div>
	<script th:src="@{js/jquery.min.js}"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script th:src="@{js/popper.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/jquery.easing.1.3.js}"></script>
	<script th:src="@{js/jquery.waypoints.min.js}"></script>
	<script th:src="@{js/jquery.stellar.min.js}"></script>
	<script th:src="@{js/owl.carousel.min.js}"></script>
	<script th:src="@{js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{js/aos.js}"></script>
	<script th:src="@{js/jquery.animateNumber.min.js}"></script>
	<script th:src="@{js/bootstrap-datepicker.js}"></script>
	<script th:src="@{js/scrollax.min.js}"></script>
	<script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false}"></script>
	<script th:src="@{js/google-map.js}"></script>
	<script th:src="@{js/main.js}"></script>
	<script th:src="@{slick/slick.js}"></script>
	<script th:src="@{slick/slick.min.js}"></script>
	<script th:src="@{js/slider.js}"></script>
	<script th:src="@{js/sewDetail.js}"></script>
</body>
</html>