.myPageTit {	
	overflow: hidden;
}

.myPageTit h2 {
	font-family: 'Teko', sans-serif;
	float: left;
	margin-top: 1.5rem !important;
	font-weight: bold;	
}

.myPageContainer {
	overflow: hidden;
	margin-top: 20px;
	position: relative;
    width: auto;    
    height: auto;    
    padding: 1px;
}

.myPageSide {
	float: left;
    width: 220px;
}

.memInfo {
	text-align: center;
	position: relative;
    margin: -1px 0 0 -1px;
    padding: 27px 0;    
    z-index: 20;
    border: 1px solid #e5e5e5;
}

.memName {	
	display: block;
    font-size: 30px;
    word-wrap: normal;
    word-break: break-all;
    color: #080808;
}

.memPoint, .won{
	font-size: 30px;
	color: #080808;
}

.won {
	font-size: 24px;
	margin-left: 2px;	
}

.memPointTit {
	display: block;
	font-size: 24px;
    margin-top: 15px;
    margin-bottom: -15px;
}

.editContainer {
	width: 100%;
}

.editBox, .mainBox {
	position: relative;
	float: left;
	width: 800px;
	margin-left: 60px;
}

.editSubMsgBox {
    float: right;
    margin-top: 2.3rem !important;
}

.myPageNav {
	padding: 0 40px 20px;
	border: 0px 1px 1px 1px solid #e5e5e5;
}

.lst {
	margin-top: 0;	
}

.myPageNav .lst dt:first-child {
    border-top: 0;
    margin-top: 25px;
}

.myPageNav .lst dt {
    font-size: 18px;
    color: #222;
    margin-top: 23px;
    padding: 21px 0 0 6px;
    border-top: 1px solid #eaebec;
}

.myPageNav .lst dd li {
    padding: 11px 0 0 6px;
}

dl {
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dt {
    display: block;
}

ul, ol {
    list-style: none;
    padding-inline-start: 0px !important;
}

#withdrawalPw {
	width: 100%;
    padding-left: 10px;
    height: 40px;
}

.spot {	
	width: 100%;
	position: relative;
    float: left;
	border: 1px solid #dadddf;
    background-color: #edeff2;
	color: white;	
}

.spot ul {
	padding-top: 10px;
	text-align: center;
}

.spot li {
    display: inline-block;    
    position: relative;
    width: 150px;
    zoom: 1;
}

.spot li .inner {
    position: relative;
    height: 115px;
    padding-left: 72px;
}

.com_num .num {
	font-size: 42px;
	color: black;
}

.spot li .inner .ico {
    background: #9099a9;
    display: inline-block;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 30px;

}

.spot li.ship1 .inner dt {
	color: #828282;
	margin-left: -45px;
    width: 48px;
    background-position: 0 -70px;
}

.spot li.ship2 .inner dt {
	color: #828282;
	margin-left: -50px;
    width: 56px;
    background-position: -80px -70px;
}

.spot li.ship3 .inner dt {
	color: #828282;
	margin-left: -45px;
    width: 95px;
    background-position: -150px -70px;
}

.spot li .inner dd {
    margin-top: 5px;
    /*padding: 15px 0 14px;*/
}

.com_num em.num {
    width: 19px;
    background-position: 0 -90px;
}

.ico i {
	margin: 15px 0;
	color: #eeeeee;
}

.listRoot {
	width: 100%;
	position: relative;
	float: left;
}

.ask_sc {	
	width: 100%;
    position: relative;
    float: left;
    z-index: 20;
    margin: -1px 0 46px;
    padding: 19px 27px;
    border: 1px solid #dadddf;
    background-color: #edeff2;
}

.month_area {
	height: 32px;
    border: 1px solid #d5d8dc;
}

.month_list {
    display: table;
    *overflow: hidden;
    width: 100%;
    table-layout: fixed;
    zoom: 1;
}

.month_list li:first-child {
    border-left: none;
}

.month_list li {
    display: table-cell;
    *float: left;
    border-left: 1px solid #f0f5f8;
    background-color: #fff;
    line-height: 30px;
    text-align: center;
    zoom: 1;
}

.month_list li a {
    display: block;
    *padding: 0 8px;
    font-size: 11px;
    color: #808080;
}

.terms {
	height: 32px;
}

.terms tr, .terms td {
	margin: 0;
	padding: 0;
}

.mainBox .date {
    position: relative;
    margin: 0 10px;
    color: #808080;
}

.mainBox .date .d_bx {
    display: inline-block;
    float: left;
    position: relative;
    width: 102px;
    height: 30px;
    border: 1px solid #d5d8dc;
    background-color: #fff;
    line-height: 30px;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
    color: #808080;
    text-decoration: none;
    text-indent: 10px;
}

.mainBox .date .dash {
    float: left;
    width: 10px;
    line-height: 30px;
    text-align: center;
}

.terms .select {
    width: 122px;
    margin-right: 0;
}

.select {
    position: relative;
    margin: 1px 3px -1px 0;
}

.selectbox-source {
    position: absolute;
    left: -9999px;
}

.selectbox-box {
    width: 100px;
    margin-top: -1px;
    border: 1px solid #d5d8dc;
    background-color: #fff;
    cursor: default;
}

.selectbox-label {
    position: relative;
    height: 28px;
    line-height: 30px;
    color: #828282;
    text-indent: 10px;
    font-size: 11px;
}

.terms .btn {
    text-align: right;
}

.btn_srch {
	background: #525f78;
	border: none;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    width: 62px;
    height: 30px;
    background-position: -20px 0;
    vertical-align: middle;
}

.sub_sc {    
	width: 100%;
    position: relative;
    float: left;
    z-index: 10;
    padding: 0;
    background-color: #fff;
}

.tit_month {
    width: 100%;
    height: 48px;
    margin: -9px 0;
    text-align: center;
}

.tit_month hr {
	width: 100%;
	margin: 25px 0;
	z-index: 1;
	position: absolute;
	border: 0.5px solid #bbbbbb;
}

.tit_month span {
	background: #fff;
	height: 48px;
	z-index: 2;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding: 0 50px;
	font-size: 28px;
	color: #000;
	border: 0.5px solid #bbbbbb;
	border-radius: 30px;
}

.goods_pay_item .goods_item .goods_thumb img {
	float: left;
    vertical-align: top;
}

img {
    vertical-align: middle;
    border-style: none;
}

.goods_pay_item {
    display: table;
    width: 100%;
    height: auto;
    padding: 40px 0 20px;
    table-layout: fixed;
}

.goods_pay_item .goods_item {
	width: 100%;
    position: relative;
    float: left;
    padding-left: 30px;
}

.goods_pay_item .goods_item .goods_info .goods .name {
    max-width: 100%;
    overflow: hidden;
    color: #000;
    font-size: 16px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-decoration: none;
}

.goods_pay_item .goods_item .goods_info {
	width: 85%;
	padding-left: 30px;
	float: left;
    font-size: 13px;
}

.goods_pay_item .goods_item .goods_info .goods .info {
    margin: 8px 0px 12px;
}

.goods_pay_item .goods_item .goods_info .goods .info li span{
    font-size: 24px;
}

.goods_pay_item .goods_item .goods_info .goods .info li span .won{
    font-size: 20px;
}

.goods_pay_item .goods_item .goods_info .goods .info li {
    display: inline-block;
    color: #000;
    font-size: 14px;
    line-height: 18px;
}

.goods_pay_item .goods_item .goods_info .goods .info li.date {
    color: #a5a5a5 !important;
}

.goods_pay_item .goods_item .goods_info .goods .info li + li {
    margin: 0 0 0 8px !important;
    padding-left: 11px;
}

.goods_pay_item .goods_item .goods_info .goods .info li + li:before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 17px;
    margin-top: -9px;
    background-color: #bbbbbb;
    content: '';
}

.goods_pay_item .goods_item .goods_info .goods {
    display: block;
    text-decoration: none;
}

.goods_pay_item .goods_item .goods_info .guide {
    margin-top: 10px;
    padding-top: 10px;
    color: #646465;
    line-height: 18px;
    border-top: 1px solid #e2e2e2;
}

strong {
    font-weight: bold;
}

.goods_pay_item .button_item {
	text-align: center;
    width: 110px;
}

.writeReviewBtn {	
	background-color: #fff;
    border: 0.5px solid black;
    color: #000;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.goods_pay_item > div {
    display: table-cell;
    vertical-align: middle;
}

.goods_pay_section + .goods_pay_section, .goods_group + .goods_group {
    border-top: 1px solid #dadddf;
    margin-top: -15px;
}

.goods_pay_section + .goods_pay_section, .goods_group ul{
    margin-bottom: 10px;
}

.goods_pay_section + .goods_pay_section, .goods_group + .goods_group ul{
    margin-bottom: 10px;
}

.viewmore_btn_section {
	text-align: center;
    display: block;
    width: 100%;
}