	.myPageTit {	
	overflow: hidden;
}

.myPageTit h2 {
	font-family: 'Teko', sans-serif;
	float: left;
	margin-top: 1.5rem !important;
	font-weight: bold;	
}

.myPageContainer {
	overflow: hidden;
	margin-top: 20px;
	position: relative;
    width: auto;    
    height: auto;    
    padding: 1px;
}

.myPageSide {
	float: left;
    width: 220px;
}

.memInfo {
	text-align: center;
	position: relative;
    margin: -1px 0 0 -1px;
    padding: 27px 0;    
    z-index: 20;
    border: 1px solid #e5e5e5;
}

.memName {	
	display: block;
    font-size: 30px;
    word-wrap: normal;
    word-break: break-all;
    color: #080808;
}

.memPoint, .won{
	font-size: 30px;
	color: #080808;
}

.won {
	font-size: 24px;
	margin-left: 2px;	
}

.memPointTit {
	display: block;
	font-size: 24px;
    margin-top: 15px;
    margin-bottom: -15px;
}

.editContainer {
	width: 100%;
}

.editBox, .mainBox {
	position: relative;
	float: left;
	width: 800px;
	margin-left: 60px;
}

.editSubMsgBox {
    float: right;
    margin-top: 2.3rem !important;
}

.myPageNav {
	padding: 0 40px 20px;
	border: 0px 1px 1px 1px solid #e5e5e5;
}

.lst {
	margin-top: 0;	
}

.myPageNav .lst dt:first-child {
    border-top: 0;
    margin-top: 25px;
}

.myPageNav .lst dt {
    font-size: 18px;
    color: #222;
    margin-top: 23px;
    padding: 21px 0 0 6px;
    border-top: 1px solid #eaebec;
}

.myPageNav .lst dd li {
    padding: 11px 0 0 6px;
}

dl {
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dt {
    display: block;
}

ul, ol {
    list-style: none;
    padding-inline-start: 0px !important;
}

#withdrawalPw {
	width: 100%;
    padding-left: 10px;
    height: 40px;
}

.spot {	
	width: 100%;
	position: relative;
    float: left;
	border: 1px solid #dadddf;
    background-color: #edeff2;
	color: white;	
}

.spot ul {
	padding-top: 10px;
	text-align: center;
}

.spot li {
    display: inline-block;    
    position: relative;
    width: 150px;
    zoom: 1;
}

.spot li .inner {
    position: relative;
    height: 115px;
    padding-left: 72px;
}

.com_num .num {
	font-size: 42px;
	color: black;
}

.spot li .inner .ico {
    background: #9099a9;
    display: inline-block;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 30px;

}

.spot li.ship1 .inner dt {
	color: #828282;
	margin-left: -45px;
    width: 48px;
    background-position: 0 -70px;
}

.spot li.ship2 .inner dt {
	color: #828282;
	margin-left: -50px;
    width: 56px;
    background-position: -80px -70px;
}

.spot li.ship3 .inner dt {
	color: #828282;
	margin-left: -45px;
    width: 95px;
    background-position: -150px -70px;
}

.spot li .inner dd {
    margin-top: 5px;
    /*padding: 15px 0 14px;*/
}

.com_num em.num {
    width: 19px;
    background-position: 0 -90px;
}

.ico i {
	margin: 15px 0;
	color: #eeeeee;
}

.listRoot {
	width: 100%;
	position: relative;
	float: left;
}

.ask_sc {	
	width: 100%;
    position: relative;
    float: left;
    /*z-index: 20;*/
    margin: -1px 0 46px;
    padding: 19px 27px;
    border: 1px solid #dadddf;
    background-color: #edeff2;
}

.month_area {
	height: 32px;
    border: 1px solid #d5d8dc;
}

.month_list {
    display: table;
    *overflow: hidden;
    width: 100%;
    table-layout: fixed;
    zoom: 1;
}

.month_list li:first-child {
    border-left: none;
}

.month_list li {
    display: table-cell;
    *float: left;
    border-left: 1px solid #f0f5f8;
    background-color: #fff;
    line-height: 30px;
    text-align: center;
    zoom: 1;
}

.month_list li a {
    display: block;
    *padding: 0 8px;
    font-size: 11px;
    color: #808080;
}

.terms {
	height: 32px;
}

.terms tr, .terms td {
	margin: 0;
	padding: 0;
}

.mainBox .date {
    position: relative;
    margin: 0 10px;
    color: #808080;
}

.mainBox .date .d_bx {
    display: inline-block;
    float: left;
    position: relative;
    width: 102px;
    height: 30px;
    border: 1px solid #d5d8dc;
    background-color: #fff;
    line-height: 30px;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
    color: #808080;
    text-decoration: none;
    text-indent: 10px;
}

.mainBox .date .dash {
    float: left;
    width: 10px;
    line-height: 30px;
    text-align: center;
}

.terms .select {
    width: 122px;
    margin-right: 0;
}

.select {
    position: relative;
    margin: 1px 3px -1px 0;
}

.selectbox-source {
    position: absolute;
    left: -9999px;
}

.selectbox-box {
    width: 100px;
    margin-top: -1px;
    border: 1px solid #d5d8dc;
    background-color: #fff;
    cursor: default;
}

.selectbox-label {
    position: relative;
    height: 28px;
    line-height: 30px;
    color: #828282;
    text-indent: 10px;
    font-size: 11px;
}

.terms .btn {
    text-align: right;
}

.btn_srch {
	background: #525f78;
	border: none;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    width: 62px;
    height: 30px;
    background-position: -20px 0;
    vertical-align: middle;
}

.sub_sc {    
	width: 100%;
    position: relative;
    float: left;
    z-index: 10;
    padding: 0;
    background-color: #fff;
}

.tit_month {
    width: 100%;
    height: 48px;
    margin: -9px 0;
    text-align: center;
}

.tit_month hr {
	width: 100%;
	margin: 25px 0;
	z-index: 1;
	position: absolute;
	border: 0.5px solid #bbbbbb;
}

.tit_month span {
	background: #fff;
	height: 48px;
	z-index: 2;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding: 0 50px;
	font-size: 28px;
	color: #000;
	border: 0.5px solid #bbbbbb;
	border-radius: 30px;
}

.goods_pay_item .goods_item .goods_thumb img {
	float: left;
    vertical-align: top;
}

img {
    vertical-align: middle;
    border-style: none;
}

.goods_pay_item {
    display: table;
    width: 100%;
    height: auto;
    padding: 40px 0 20px;
    table-layout: fixed;
}

.goods_pay_item .goods_item {
	width: 100%;
    position: relative;
    float: left;
    padding-left: 30px;
}

.goods_pay_item .goods_item .goods_info .goods .name {
    max-width: 100%;
    overflow: hidden;
    color: #000;
    font-size: 16px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-decoration: none;
}

.goods_pay_item .goods_item .goods_info {
	width: 85%;
	padding-left: 30px;
	float: left;
    font-size: 13px;
}

.goods_pay_item .goods_item .goods_info .goods .info {
    margin: 8px 0px 12px;
}

.goods_pay_item .goods_item .goods_info .goods .info li span{
    font-size: 24px;
}

.goods_pay_item .goods_item .goods_info .goods .info li span .won{
    font-size: 20px;
}

.goods_pay_item .goods_item .goods_info .goods .info li {
    display: inline-block;
    color: #000;
    font-size: 14px;
    line-height: 18px;
}

.goods_pay_item .goods_item .goods_info .goods .info li.date {
    color: #a5a5a5 !important;
}

.goods_pay_item .goods_item .goods_info .goods .info li + li {
    margin: 0 0 0 8px !important;
    padding-left: 11px;
}

.goods_pay_item .goods_item .goods_info .goods .info li + li:before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 17px;
    margin-top: -9px;
    background-color: #bbbbbb;
    content: '';
}

.goods_pay_item .goods_item .goods_info .goods {
    display: block;
    text-decoration: none;
}

.goods_pay_item .goods_item .goods_info .guide {
    margin-top: 10px;
    padding-top: 10px;
    color: #646465;
    line-height: 18px;
    border-top: 1px solid #e2e2e2;
}

strong {
    font-weight: bold;
}

.goods_pay_item .button_item {
	text-align: center;
    width: 110px;
}

.writeReviewBtn {	
	background-color: #fff;
    border: 0.5px solid black;
    color: #000;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.goods_pay_item > div {
    display: table-cell;
    vertical-align: middle;
}

.goods_pay_section + .goods_pay_section, .goods_group + .goods_group {
    border-top: 1px solid #dadddf;
    margin-top: -15px;
}

.goods_pay_section + .goods_pay_section, .goods_group ul{
    margin-bottom: 10px;
}

.goods_pay_section + .goods_pay_section, .goods_group + .goods_group ul{
    margin-bottom: 10px;
}

.viewmore_btn_section {
	text-align: center;
    display: block;
    width: 100%;
}
/* Cart Page  */
.cartBox {
	position: relative;
	float: left;
	width: 825px;
	margin-left: 60px;
}

.cartTit {
    overflow: hidden;
}

.cartTit h2 {
	font-family: 'Teko', sans-serif;
	float: left;
	margin-top: 1.5rem !important;
	font-weight: bold;	
}

.cartTit ol {
	float: right;
	list-style: none;
	margin-top: 40px;
	margin-bottom: 0 !important;	
}

.cartTit ol li{
	color: #d1d1d1;
	font-size: 15px;
	float: left;		
}

.cartTit ol span{
	font-size: 18px;
	font-weight: bold;	
}

.cartTit ol .onPage{
	font-size: 15px;
	float: left;	
	color: #000;		
}

.cartTit ol .onPage span{
	font-size: 18px;
	font-weight: bold;	
	color: #000;
}

.tb_list {
    width: 100%;
    border: none;
    border-top: 1px solid #383d4a;
    border-bottom: 1px solid #dddde1;
    table-layout: fixed;
}

.tb_list th {
    padding: 13px 0 12px;
    border-top: 1px solid #383d4a;
    color: #20232c;
    font-weight: normal;
}

.tb_list th, .tb_list td {
    border: none;
    text-align: center;
}

.tb_list th.product {
	display: table-cell;
    padding-left: 10px;
    text-align: left;
    margin-bottom: 0;
}

.tb_list th strong {
    letter-spacing: -1px;
}

.tb_list th input {
    width: 13px;
    height: 13px;
    margin: -1px 5px 1px 0;
    vertical-align: middle;
}

.tb_list th.product {
    padding-left: 10px;
    text-align: left;
}

.tb_list td {
    padding: 15px 0;
    border-top: 1px solid #edeeef;
    color: #20232c;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
}

.tb_list td .sum{
   font-size: 18px;
}

.tb_list td.product {
    padding: 17px 10px;
    text-align: left;
    margin: 0;
}

.tb_list td.product div {
    overflow: hidden;
    position: relative;
    zoom: 1;
}

.tb_list td.product .thmb {
    float: left;
    margin-right: 17px;
}

.tb_list td.product .thmb .img_center {
    width: 60px;
    height: 60px;
    text-align: left;
    padding-right: 5px;
}

.img_center a {
    display: inline-block;
}

.prodThumb {
	width: 80px;
	height: 80px;
    border: 0;
}

.tb_list .btn_oneline {
    display: inline-block;
}

.tb_list td.product dl {
    display: block !important;
    overflow: hidden;
    *float: left;
}

.tb_list td.product dt {
    margin-bottom: 3px;
    line-height: 18px;
}

.tb_list td.product dt.zzim_add {
    position: relative;
}

.tb_list td.product dd{
    margin-top: 2px;
    color: #b6b7bc;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 16px;
    font-family: '³ª´®°íµñ',NanumGothic,'¸¼Àº°íµñ',MalgunGothic,'µ¸¿ò',Dotum,Helvetica,sans-serif;
    margin: 0;
}

.tb_list dl.naver_plus .modify_sec {
    padding: 3px 0;
}

.tb_list td.product dd.shp_toggle {
    margin: 11px 0 0 0;
}

.tb_list dl.naver_plus dd.shp_toggle {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
}

.tb_list .bg_point {
    border-left: 1px solid #edeeef;
    background-color: #f7f7f7;
}

.tb_list td.order_money {
    width: 138px;
    padding-right: 15px;
    text-align: right;
}

.tb_list td.product dd .add {
    margin-left: 6px;
}

.tb_list td.product dd .option li {
    padding-left: 6px;

}

.tb_list td.product dd .add li.plus_item {
    background: none;
}

.tb_list td.product dl {
	margin: 0;
    display: block !important;
    overflow: hidden;
    vertical-align: middle;
    *zoom: 1;
}
.tb_list dl.naver_plus {
    position: relative;
    padding-top: 17px;
}

.tb_list dl.naver_plus .modify_sec.btn_oneline a {
    display: inline-block;
}

.tb_list td.product .thmb {
    float: left;
    margin-right: 17px;
}

.tb_list td.product .thmb .img_center {
    width: 60px;
    height: 60px;
    text-align: left;
    padding-top: 15px;
    padding-right: 5px;
}

.img_center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.tb_list tfoot td {
    padding: 8px 0 6px;
    font-size: 11px;
    line-height: 15px;
    color: #565960;
    letter-spacing: -1px;
}

.tb_list tfoot td.amount {
    padding: 0px 14px 0px 14px;
    border-top: none;
    color: #000;
    font-size: 12px;
}

.tb_list tfoot td.amount dl {
	margin: 0;
}

.tb_list tfoot td.amount dl dd{
    margin: 0;
}

.tb_list tfoot td.amount dl dd ul{
    margin-top: 10px;
}

.tb_list tfoot td.amount dl dd{
    border-top: none;
    color: #fff;
    font-size: 12px;
}

.tb_list tfoot td.amount li {
	height: 30px;
    overflow: hidden;
    zoom: 1;
}

.tb_list tfoot td.amount li strong {
	font-size: 17px;
    float: left;
    margin-top: 10px;
    font-weight: normal;
}

.tb_list tfoot td.amount li p {
	padding-top: 10px;
    float: right;
    color: #fff;
    font-weight: bold;
}

.tb_list tfoot td.amount li p em {
    color: #fff;
    font-weight: bold;
    letter-spacing: 0;
}

.tb_list tfoot td {
    padding: 8px 0 6px;
    font-size: 11px;
    line-height: 15px;
    color: #565960;
    letter-spacing: -1px;
}

.tb_list tfoot td.tot {
    vertical-align: bottom;
}

.tb_list tfoot td.tot li {
    line-height: 24px;
}

.tb_list tfoot td.tot li strong {
    font-size: 17px;
    font-weight: bold;
}

.tb_list tfoot td.tot li p {
    font-weight: bold;
    line-height: 24px;
}

.tb_list tfoot td.tot li em {
    display: inline-block;
    margin: -2px 0 2px;
    font-size: 30px;
    vertical-align: middle;
}

.thm {
	font-size: 24px;
}

.tb_list .btn_pd_edit {
    display: block;
    width: 32px;
    height: 20px;
    margin: 6px auto 0;
    background: url(../../../../img/service/front/order/spr_btn.gif?20190214) no-repeat -500px -650px;
    vertical-align: top;
}

.sub_benefit {
    position: absolute;
    left: 0;
    bottom: 95px;
    width: 790px;
}

.prime_benefit {
    line-height: 14px;
    zoom: 1;
}

.prime_benefit dd ul {
    float: left;
}

.prime_benefit dd li.first {
    margin-left: 0;
    padding-left: 0;
    background: none;
}

.prime_benefit dd li strong, .prime_benefit dd li em, .prime_benefit dd li span {
    display: inline-block;
    margin: 0 2px 0 5px;
    letter-spacing: 0;
    vertical-align: middle;
}

.tb_list .bg_point2 {
    background-color: #7b7b7b;
}


.layerpop_wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    min-width: 320px;
}

.layerpop_wrap.error .layer_inner {
    padding: 58px 20px;
}

.layerpop_wrap.error .title {
    font-size: 14px;
    line-height: 1.57em;
    font-weight: 400;
}

.layerpop_wrap .layer_inner {
    position: relative;
    padding: 30px 20px;
    border: 1px solid #d7d7d7;
    background: #fff;
    text-align: center;
}

.layerpop_wrap .title {
	display: inline-block;
    font-size: 18px;
    line-height: 1.44em;
    position: relative;
    margin: 0;
    letter-spacing: 0;
    color: #000;    
}

.layerpop_wrap .button_wrap {
    margin-top: 20px;
    text-align: center;
}

.layerpop_wrap .button_wrap .btn.bg_white {
    border-color: #e2e5e9;
    background-color: #fff;
    color: #444;
}

.layerpop_wrap .button_wrap .btn + .btn {
    margin-left: 4px;
}

.layerpop_wrap .button_wrap .btn.bg_white {
    border-color: #e2e5e9;
    background-color: #fff;
    color: #444;
}

.layerpop_wrap .button_close {
    position: absolute;
    top: 15px;
    right: 15px;
    background-image: url(https://img-shop.pstatic.net/smartstore/pc/dist/legacy/img/auto-gen/20191024/103426/sp_icon_common.png);
    background-image: url(https://img-shop.pstatic.net/smartstore/pc/dist/legacy/img/auto-gen/20191024/103426/sp_icon_common.svg), none;
    -webkit-background-size: 701px 675px;
    background-size: 701px 675px;
    background-position: -473px -535px;
    width: 15px;
    height: 15px;
    background-color: initial;
    border: 0;
}

.title span {
    letter-spacing: 0;
    line-height: 14px;
    font-family: tahoma;
}

.fc_point {
    color: #5679d1 !important;
}

.btn_ordel {
	border: 1px solid #e2e5e9;
    background-color: #fff;
    color: #444;
    cursor: pointer;
}

.cart-total-price .price-area {
    padding: 20px 15px 18px;
    font-size: 14px;
    line-height: 17px;
    color: #555;
    text-align: center;
}

.cart-total-price em {
    padding: 0 4px 0 5px;
    font-weight: 700;
    color: #111;
}

.symbol-plus1 {
    margin: 0 11px 0 10px;
    vertical-align: -4px;
    background: url(//img1a.coupangcdn.com/image/www/newBuy/img_plus_2.gif) no-repeat;
}

.symbol-equal1 {
    background: url(//img1a.coupangcdn.com/image/www/newBuy/img_equals_2.gif) no-repeat;
}

.symbol-equal, .symbol-plus1 {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.symbol-equal1, .symbol-minus1 {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 11px 0 10px;
    vertical-align: -4px;
}

.cart-total-price .final-order-price {
    color: #ea0000;
    font-size: 20px;
}

tfoot {
	clear: both;
    position: relative;
    padding: 20px 0 35px;
}

.all-select-product {
    float: left;
    margin-left: 15px;
    font-size: 12px;
}

#delSelected {
	border: 0px;
	font-family: 'Teko', 'Noto Sans KR', sans-serif;
	background: transparent;
    cursor: pointer;
	
}

.prePoint {
	padding-left: 6px;
	padding-right: 10px;
}

.totalPoint {
	font-size: 20px;
}