.order_sc {
	overflow: hidden;
	margin: 0 50px;
}

.allAddressArea{
	height: auto;
	overflow: hidden;
}

.payTit {
    overflow: hidden;
    border-bottom: 1px solid #000;
}

.payTit h2 {
    font-family: 'Teko', sans-serif;
    float: left;
    margin-top: 1.5rem !important;
    font-weight: bold;
}

.payTit ol {
    float: right;
    list-style: none;
    margin-top: 40px;
    margin-bottom: 0 !important;
}

.payTit ol li {
    color: #d1d1d1;
    font-size: 15px;
    float: left;
}

.payTit ol .onPage {
    font-size: 15px;
    float: left;
    color: #000;
}

.payTit ol .onPage span {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.payTit ol .onPage span {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.payTit ol span {
    font-size: 18px;
    font-weight: bold;
}

.arrows {
    margin: 0 10px;
}

.order_sc .tb_products {
    width: 100%;
    border: 0;
    text-align: center;
}

.order_sc .order_content {
	overflow: hidden;
    position: relative;
}

.order_sc .product_area {
    position: relative;
    border: 1px solid #fff;
    border-top: 0;
    border-bottom: 0;
    background: url(../../../../img/service/front/order/img_ordersheet/bg_productarea.png) repeat;
}

.order_sc .tb_products {
    width: 100%;
    border: 0;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
}

caption {
    overflow: hidden;
    width: 1px;
    height: 1px;
    *height: 0;
    padding: 0;
    margin-top: -1px;
    font-size: 0;
    line-height: 0;
    text-indent: -999999px;
}

.order_sc .tb_products thead th {
    padding: 12px 0 10px;
    border: 0;
    font-weight: normal;
    border-bottom: 1px solid #000;
    color: #000;
}

.order_sc .tb_products thead .col_price {
    padding-right: 20px;
}

.order_sc .tb_products tbody tr td:first-child {
    margin-top: 1px;
    position: relative;
}

.order_sc .product_info {
    position: relative;
    min-height: 92px;
    padding: 31px 7px 30px 189px;
    text-align: left;
}

.order_sc .product_info .product_thmb {
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -46px;
}

.order_sc .product_info .product_thmb .mask {
    background-position: -150px -80px;
}

.order_sc .product_info .product_thmb img {
    vertical-align: top;
}

.order_sc .product_info .product_dsc {
    display: inline-block;
    vertical-align: middle;
    *zoom: 1;
    *display: inline;
}

.order_sc .product_info .name_seller {
    font-weight: normal;
    display: block;
    font-size: 11px;
    color: #5f5f5f;
    line-height: 13px;
    margin-bottom: 5px;
}

.order_sc .product_info .product_name {
    font-size: 18px;
    line-height: 18px;
    color: #000;
    cursor: pointer;
}

.order_sc .product_info .option, .order_sc .product_info .add, .order_sc .product_info .gift {
    margin-top: 6px;
    zoom: 1;
}

.order_sc .product_info .ico_option, .order_sc .product_info .ico_add, .order_sc .product_info .ico_gift {
    float: left;
    width: 32px;
    height: 14px;
}

.order_sc .product_info .option .option_list, .order_sc .product_info .add .add_list, .order_sc .product_info .gift .gift_list {
   	margin-left: 28px;
}

.order_sc .tb_products td {
    border: 0;
    word-wrap: break-word;
    word-break: break-all;
}

.order_sc .tb_products tbody .col_price {
    text-align: right;
    padding-right: 20px;
    font-size: 13px;
    line-height: 19px;
    color: #000;
}

.order_sc .tb_products tbody .col_price .orgn_price em {
    text-decoration: line-through;
}

.order_sc .tb_products tbody .col_price .orgn_price {
	float: left;
    display: block;
    font-size: 16px;
    text-decoration: line-through;
    color: #979797;
}

.order_sc .tb_products tbody .col_price em {
    display: inline-block;
    margin-top: -3px;
    line-height: 15px;
    vertical-align: middle;
    font-family: tahoma,geneva,sans-serif;
    font-size: 18px;
}

.order_sc .deli_fee {
    line-height: 17px;
}

.order_sc .deli_fee .ico_deli {
    margin-right: 6px;
}

.sp_order.ico_deli {
    width: 17px;
    height: 12px;
    background-position: -150px 0;
    vertical-align: middle;
}

.order_sc .deli_fee {
    line-height: 17px;
}

.order_sc .destination_wrap, .order_sc .discount_wrap, .order_sc .payment_wrap, .order_sc .reserve_wrap {
    position: relative;
    zoom: 1;
}

.order_sc .discount_wrap .discount_info, .order_sc .payment_wrap .payment_info {
    position: relative;
    float: left;
    padding: 30px 10px 30px 49px;
    border: 1px solid #e9e9e9;
    border-top-color: #f0f0f0;
    border-right-color: #e9e9e9;
    border-bottom: 0;
    width: 686px;
    height: 100%;
    background: #fafafa;
}

.order_sc .destination_wrap .deliver_wrap, .order_sc .destination_wrap .receiver_wrap, .order_sc .reserve_wrap .orderer_info {
    float: left;
    padding: 31px 50px 10px 49px;
    width: 686px;
    height: 268px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    background: #fafafa;
}

.order_sc .destination_wrap, .order_sc .discount_wrap, .order_sc .payment_wrap, .order_sc .reserve_wrap {
    position: relative;
    background: url(../../../../img/service/front/order/img_ordersheet/bg_orderpage_pattern.png) repeat-y;
    zoom: 1;
}

.order_sc .destination_wrap .userinfo_wrap, .order_sc .reserve_wrap .price_sum, .order_sc .reserve_wrap .notice_wrap {
    float: right;
    padding: 31px 50px 0;
    border-right: 1px solid #e9e9e9;
    width: 324px;
    background: #f0f0f0;
}

.order_sc .discount_wrap .price_sum, .order_sc .payment_wrap .price_sum, .order_sc .payment_wrap .viewer_area {
    float: right;
    padding: 31px 50px 0;
    border: 1px solid #e9e9e9;    
    border-bottom: 0;
    border-left: 0;
    width: 324px;
    height: 664px;
    background: #f0f0f0;
}

.order_sc .userinfo_wrap h4 {
    color: #000;
    font-weight: bold;
}

.order_sc .userinfo_wrap .user_info {
    margin-top: 17px;
    color: #000;
}

.order_sc .userinfo_wrap .user_info li {
    position: relative;
    line-height: 27px;
    font-size: 20px;
}

.order_sc .userinfo_wrap .user_info li~li {
    margin-top: 2px;
}

.order_sc .userinfo_wrap .user_info .btn {
	font-size: 11px;
    position: absolute;
    margin: -12px 0 0 0;
    right: 0;
    top: 50%;
    width: 48px;
    height: 25px;
    line-height: normal;
    *margin-top: -18px;
    border-radius: 0px;
}

.order_sc .userinfo_wrap .info_dsc {
    margin-top: 23px;
    padding-top: 21px;
    border-top: 1px solid #e5e5e5;
    font-size: 11px;
    line-height: 19px;
}

.order_sc .deliver_wrap h4 {
    display: block;
    width: 78px;
    height: 17px;
}

.order_sc .deliver_option_wrap>strong {
    float: left;
    margin: 0 18px 0 -10px;
    padding: 5px 0 0 10px;
    width: 100px;
    line-height: 20px;
    color: #4b4b4b;
}

.order_sc .deliver_option.deli_select .radio_inline_list {
    margin-right: 21px;
}

.order_sc .deliver_option .radio_inline_list {
    float: left;
    margin-right: 26px;
    padding-top: 6px;
    color: #000;
}

.select_section .selectbox-box {
    width: auto;
}

.order_sc .deliver_option .deli_list {
    float: left;
    width: 70px;
    height: 24px;
    margin: 3px 0;
    padding: 0;
    letter-spacing: -1px;
}

.recent_deli_box {
    clear: both;
    overflow: hidden;
    position: relative;
    min-width: 568px;
    height: 28px;
    margin-bottom: 7px;
}

.order_sc .deliver_option .recent_deli {
    margin-top: -6px;
    padding-right: 45px;
}

.order_sc .deliver_option_wrap + .addr_list {
    padding-top: 7px;
    margin-top: 15px;
    border-top: 1px solid #e8e8e8;
}

.order_sc .deliver_wrap .addr_list li {
    padding-top: 13px;
    word-break: break-all;
}

.order_sc .deliver_wrap h4 {
    display: block;
    width: 90px;
    height: 20px;
    font-size: 18px;
    font-weight: 600;
}

.order_sc .payment_wrap h4 {
    display: block;
    width: 90px;
    height: 20px;
    font-size: 18px;
    font-weight: 600;
}

.order_sc .discount_wrap h4 {
    display: block;
    width: 120px;
    height: 20px;
    font-size: 18px;
    font-weight: 600;
}

.order_sc .deliver_wrap .new_delivery {
    margin-top: 6px;
    overflow: hidden;
}

.order_sc .deliver_option_wrap~.deliver_option_wrap {
    margin-top: 6px;
    overflow: hidden;
}

.order_sc .req.short {
    background-position: -280px -305px;
}

.order_sc .deliver_option_wrap>strong {
    float: left;
    margin: 0 18px 0 -10px;
    padding: 5px 0 0 10px;
    width: 100px;
    line-height: 20px;
    color: #4b4b4b;
}

.order_sc .deliver_option_wrap .deliver_option {	
    float: left;
    max-width: 546px;
}

.order_sc .deliver_option .inp_txt2.name {
    width: 112px;
}

.order_sc .inp_txt2 {
    padding: 0 10px;
    margin-right: 1px;
    border: 1px solid #e5e5e5;
    height: 28px;
    vertical-align: middle;
    line-height: 28px;
}

.order_sc .req.short {
    background-position: -280px -305px;
}

.order_sc .cellphone_group {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.order_sc .cellphone_group .inp_txt2 {
    width: 50px;
}

.order_sc .inp_txt2+.inp_txt2 {
    margin-left: 1px;
}

.order_sc .deliver_option_wrap .deliver_option .zipcode_group {
    display: inline-block;
}

.order_sc .inp_txt2.zipcode {
    width: 55px !important;
}

.order_sc .deli_address .btn {
    margin: 0 -3px 0 1px;
}

.order_sc .deliver_option .btn {
    margin-left: 6px;
    padding: 0 7px;
    width: auto;
    vertical-align: middle;
    border-radius: 0px;
}

.order_sc .btn {
    width: 68px;
    height: 26px;
    border: 1px solid #d0d0d0;
    color: #4c4c4c;
    background-color: #fff;
    cursor: pointer;
}

.select_section .drop {
    position: absolute;
    top: 50%;
    right: 11px;
    width: 13px;
    height: 7px;
    margin-top: -4px;
    background-position: 0 0;
}

.selectbox-label {
	float: left;
	width: 60px;
    position: relative;
    height: 28px;
    line-height: 28px;
    color: #828282;
    text-indent: 10px;
}

.selectbox-label option{
	
}

.cellPhone {
	float: left;
	margin-left: 3px;
}

.order_sc .tb_discount .input_area input, .order_sc .payment_option .input_area .value, .order_sc .tb_discount .input_area .value {
    float: left;
    width: 110px;
    height: 25px;
    background: none;
    border: 0;
    line-height: 25px;
    color: #000;
    font-family: tahoma,geneva,sans-serif;
    font-size: 16px;
    text-align: right;
    padding: 0px 4px;
}

.order_sc .tb_discount .btn {
	width: 90px;
    float: left;
    margin-left: 12px;
    line-height: 12px;
}

.measure {
	float: left;
}

.order_sc .payment {
    width: 684px;
    position: relative;
    margin-bottom: 30px;
}

.order_sc .payment_list {
    margin-top: -1px;
    width: 550px;
    height: 65px;
    padding: 20px;
    border: 1px solid #e8e8e8;
    background: #fff;
}

.order_sc .payment_item {
	margin-left: 40px;
    float: left;
    color: #000;
}

.radio-applied {
    display: -moz-inline-block;
    display: -moz-inline-box;
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 18px;
    height: 18px;
    margin: -1px 0 1px;
    vertical-align: middle;
}

.radio-applied span.radio-mark.radio-checked {
    background-position: -30px -60px;
}

.radio-applied input {
    margin: 1px;
}

.order_sc .payment_item+.payment_item {
    margin-left: 45px;
}

.radio-applied span.radio-mark {
    display: -moz-inline-block;
    display: -moz-inline-box;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 18px;
    height: 18px;
    background-position: 0 -60px;
}

.order_sc .payment_option_wrap {
	overflow: hidden;
    margin-top: 20px;
    zoom: 1;
}

.order_sc .payment_option_wrap>strong {
    float: left;
    margin-left: -10px;
    padding: 5px 0 0 10px;
    width: 140px;
    line-height: 20px;
    color: #4b4b4b;
}

.order_sc .payment_option_wrap .payment_option {
    float: left;
    max-width: 544px;
    color: #000;
}

.order_sc .radio_inline_list {
	margin: 0;
}

.order_sc .radio_inline_list li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.order_sc .radio_inline_list li+li {
    margin-left: 30px;
}

.order_sc .payment .benefit_fold_panel {
	width: 550px;
	height: 156px;
    margin-top: 40px;
}

.spot_benefit_pay {
    border: 1px solid #efeeef;
    background: #fff;
}

.benefit_fold_panel .fold_heading {
    position: relative;
}

.benefit_fold_panel .fold_heading a {
    display: block;
    padding: 10px 15px 9px;
    background: none;
    color: #000;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    height: 37px;
}

strong {
    font-weight: bold;
}

.benefit_fold_panel .fold_heading .logo_pay {
    overflow: hidden;
    width: 46px;
    height: 18px;
    margin: -4px 0 -2px;
    background-position: -60px -20px;
    line-height: 999px;
    vertical-align: middle;
}

.p_color_green {
    color: #00c73c;
}

em, address {
    font-style: normal;
}

.order_sc .payment_agree_wrap {
	width: 100%;
	float: left;
    position: relative;
    text-align: center;
    padding: 26px 0 35px;
    border: 1px solid #e9e9e9;
    background: #f0f0f0;
    font-size: 0;
}

.order_sc .payment_agree_wrap .btn_payment {
    width: 198px;
    height: 56px;
}

.order_sc .payment_agree_wrap button {
    margin: 0 6px;
    border: 1px solid #636363;
    width: 175px;
    height: 50px;
    background-color: #636363;
    cursor: pointer;
}

.order_sc .payment_agree_wrap .txt_payment {
    width: 120px;
    height: 50px;
    background-position: -200px 0;
    display: inline-block;
    overflow: hidden;
    font-size: 18px;
    line-height: 50px;
	color: white;    
}

.totalPrice {
	font-size: 42px;
}

.order_sc .price_sum .calc_list {
    margin-top: 24px;
    padding-top: 23px;
    border-top: 1px solid #e2e2e2;
}

.order_sc .price_sum .calc_list p {
	font-size: 24px;
    margin: 0px;
    float: right;
}

.order_sc .price_sum .calc_list li {
    overflow: hidden;
}

.order_sc .price_sum .calc_list strong {
	margin: 10px 0;
    float: left;
    font-weight: normal;
}

.virtualAccount {
	height: 131px;
}

.memPhone {
	font-family: '³ª´®°íµñ',NanumGothic,'¸¼Àº°íµñ',MalgunGothic,'µ¸¿ò',Dotum,Helvetica,sans-serif;
	font-size: 14px;
}

.memEmail {
	font-size: 20px;
}


