.slider {
    width: 100%;
    height: 600px;
    margin: 8% auto;
}
.slider-item{
	width: auto;
	height: 600px;
	overflow: hidden;
}
.slider-item-img{
	width: 100%;
	heigth: auto;

}
@media (max-width: 991.98px) {
   .slider {
	   width: 100%;
	   height: 600px;
	   margin: 0px auto; 
   } 
   .slick-dots {
	   visibility: hidden;
   }
}