<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Sew</title>

<!-- Custom fonts for this template-->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300&display=swap" rel="stylesheet">
<link href="http://allfont.net/allfont.css?fonts=agency-fb" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:300&display=swap&subset=devanagari,latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
<!-- Custom styles for this template-->
<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{css/sewAddProd.css}" rel="stylesheet">
<link rel="icon" th:href="@{img/logo/favicon.png}">
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar"
			th:replace="sewManagement/sewManagementSide::side"></ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<h2>상품등록</h2>
					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>						
					</button>

					<!-- Topbar Search -->					
					<!-- Topbar Navbar -->					

				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div id="sewAddProdContainer">				
					<form id="sewAddProdForm" name="sewAddProdForm" method="post" action="addProd.do" enctype="multipart/form-data">
						<table>
							<tbody>
								<tr>
									<th scope="row">
										상품명
									</th>
									<td>
										<input class="form-control" id="addProdName" type="text" name="prodName">
									</td>									
								</tr>
								<tr>
									<th scope="row">
										성별
									</th>
									<td>
										<select id="prodGen" name="prodGen" class="browser-default custom-select">
											<option value="none" selected="selected">성별</option>								    
										    <option value="남성">남성</option>
										    <option value="여성">여성</option>
										</select>										
									</td>									
								</tr>								
								<tr>
									<th scope="row">
										분류
									</th>
									<td>
										<select id="prodType" name="prodType" class="browser-default custom-select">										    
										    <option value="none" selected="selected">상의 / 하의</option>
										    <option value="상의">상의</option>										    
										    <option value="하의">하의</option>
										</select>										
									</td>									
								</tr>
								<tr id="topCat" style="display: none">
									<th scope="row">
										카테고리
									</th>
									<td>
										<select name="prodCat" class="browser-default custom-select">										    
										    <option value="none" selected="selected">카테고리</option>
										    <option value="자켓/코트/점퍼">자켓/코트/점퍼</option>
										    <option value="니트/가디건/스웨터">니트/가디건/스웨터</option>
										    <option value="셔츠">셔츠</option>
										    <option value="맨투맨/후드">맨투맨/후드</option>
										    <option value="티셔츠">티셔츠</option>
										</select>
									</td>									
								</tr>
								<tr id="botCat" style="display: none">
									<th scope="row">
										카테고리
									</th>
									<td>
										<select name="prodCat" class="browser-default custom-select">										    
										    <option value="none" selected="selected">카테고리</option>
										    <option value="데님">데님</option>
										    <option value="팬츠">팬츠</option>
										</select>
									</td>									
								</tr>
								<tr class="prodInven" style="display: none">
									<th scope="row">
										색상 사이즈별 수량
									</th>
									<td>
										<ul id="itemList">
											<li>											
												색상 <input class="form-control" type="text" name="prodColor">										
												S 사이즈 <input class="form-control" type="text" name="prodSsize" numberOnly>																				
												M 사이즈 <input class="form-control" type="text" name="prodMsize" numberOnly>
												L 사이즈 <input class="form-control" type="text" name="prodLsize" numberOnly>
												XL 사이즈 <input class="form-control" type="text" name="prodXLsize" numberOnly>
											</li>										
										</ul>	
										<button id="addColor" style="margin-left:125px;" type="button" class="btn btn-outline-dark">색상 추가하기</button>
									</td>
								</tr>
								<tr>
									<th scope="row">
										정가
									</th>
									<td>
										<input class="form-control" id="addProdName" type="text" name="prodListP" numberOnly>
									</td>									
								</tr>
								<tr>
									<th scope="row">
										판매가
									</th>
									<td>
										<input class="form-control" id="addProdName" type="text" name="prodPrice" numberOnly>
									</td>									
								</tr>
								<tr>
									<th scope="row">
										배송비
									</th>
									<td>
										<input class="form-control" id="addProdName" type="text" name="prodDeli" numberOnly>
									</td>									
								</tr>
								<tr>
									<th scope="row">
										제품 코드
									</th>
									<td>
										<input class="form-control" id="addProdName" type="text" name="prodCode">
									</td>									
								</tr>
								<tr>
									<th scope="row">
										원산지
									</th>
									<td>
										<input class="form-control" id="addProdName" type="text" name="prodOrigin">
									</td>									
								</tr>
								<tr>
									<th scope="row">
										섬네일 이미지
									</th>
									<td>
										<input class="form-control" id="addProdName" type="file" name="files1">										
									</td>							
								</tr>
								<tr>
									<th scope="row">
										상세내용 이미지
									</th>
									<td>
										<input class="form-control" id="addProdName" type="file" name="files2">										
									</td>							
								</tr>
							</tbody>
						</table>
						<div class="buttonsBox" style="margin-top: 1.5rem !important;">
							<input type="submit" id="addProdSubmit" value="등록하기">
							<input type="button" name="cancel" value="취소" onclick="location.href='/management.do'">							
						</div>						
					</form>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Your Website 2019</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{vendor/chart.js/Chart.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{js/demo/chart-area-demo.js}"></script>
	<script th:src="@{js/demo/chart-pie-demo.js}"></script>
	<script th:src="@{js/sewAddProd.js}"></script>
	<script type="text/javascript">
		$("form").submit(function(e){
			e.preventDefault();
			var prodName = document.sewAddProdForm.prodName.value;			
			var prodGen = document.sewAddProdForm.prodGen.value;
			var prodType = document.sewAddProdForm.prodType.value;
			var prodCat = document.sewAddProdForm.prodCat.value;
			var prodMsize = document.sewAddProdForm.prodMsize.value;  
			var prodLsize = document.sewAddProdForm.prodLsize.value;
			var prodXLsize = document.sewAddProdForm.prodXLsize.value;
			var prodListP = document.sewAddProdForm.prodListP.value;
			var prodPrice = document.sewAddProdForm.prodPrice.value;
			var prodDeli = document.sewAddProdForm.prodDeli.value;
			var prodOrigin = document.sewAddProdForm.prodOrigin.value;
			var file1 = document.sewAddProdForm.file1.value;
			var file2 = document.sewAddProdForm.file2.value;		
			
			if (prodGen!="none" && prodType!="none" && prodCat!="none" &&
				prodName!="" && prodMsize!="" && prodLsize!="" && prodXLsize!="" &&
				prodListP!="" && prodPrice!="" && prodDeli!="" && prodOrigin!="" &&
				file1!="" && file2!=""){
				$("form").unbind("submit").submit();
			}
		}
	</script>

</body>

</html>
