<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Sew</title>

<!-- Custom fonts for this template-->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300&display=swap" rel="stylesheet">
<link href="http://allfont.net/allfont.css?fonts=agency-fb" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:300&display=swap&subset=devanagari,latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
<!-- Custom styles for this template-->
<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{css/sewAddProd.css}" rel="stylesheet">
<link rel="icon" th:href="@{img/logo/favicon.png}">
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar"
			th:replace="sewManagement/sewManagementSide::side"></ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<h2>상품등록</h2>
					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>						
					</button>

					<!-- Topbar Search -->					
					<!-- Topbar Navbar -->					

				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div id="sewAddProdContainer">				
					<form id="sewAddProdForm" method="post" action="addProd.do">
						<table>
							<tbody>
								<tr>
									<th scope="row">
										상품명
									</th>
									<td>
										<input class="form-control" id="addProdName" type="text" name="prodName" required="required">
									</td>									
								</tr>
								<tr>
									<th scope="row">
										분류
									</th>
									<td>
										<select name="prodType" class="browser-default custom-select" required="required">
										    <option selected>분류</option>
										    <option value="상의">상의</option>
										    <option value="하의">하의</option>
										</select>										
									</td>									
								</tr>
								<tr>
									<th scope="row">
										카테고리
									</th>
									<td>
										<select name="prodCat" class="browser-default custom-select" required="required">
										    <option selected>카테고리</option>
										    <option value="자켓/코트/점퍼">자켓/코트/점퍼</option>
										    <option value="bot">니트/가디건/스웨터</option>
										    <option value="bot">셔츠</option>
										    <option value="bot">맨투맨/후드</option>
										    <option value="bot">티셔츠</option>
										    <option value="bot">데님</option>
										    <option value="bot">팬츠</option>
										</select>
									</td>									
								</tr>
								<tr>
									<th scope="row">
										정가
									</th>
									<td>
										<input class="form-control" id="addProdName" type="text" name="prodListP" required="required" numberOnly>
									</td>									
								</tr>
								<tr>
									<th scope="row">
										판매가
									</th>
									<td>
										<input class="form-control" id="addProdName" type="text" name="prodPrice" required="required" numberOnly>
									</td>									
								</tr>
								<tr>
									<th scope="row">
										배송비
									</th>
									<td>
										<input class="form-control" id="addProdName" type="text" name="prodDeli" required="required" numberOnly>
									</td>									
								</tr>
								<tr>
									<th scope="row">
										제품 코드
									</th>
									<td>
										<input class="form-control" id="addProdName" type="text" name="prodCode" required="required">
									</td>									
								</tr>
								<tr>
									<th scope="row">
										원산지
									</th>
									<td>
										<input class="form-control" id="addProdName" type="text" name="prodOrigin" required="required">
									</td>									
								</tr>
								<tr>
									<th scope="row">
										내용
									</th>
									<td>
										<input class="form-control" id="addProdName" type="text" name="prodCont" required="required">
									</td>									
								</tr>
							</tbody>
						</table>
						<div class="buttonsBox" style="margin-top: 1.5rem !important;">
							<input type="submit" id="addProdSubmit" value="등록하기">
							<input type="button" name="cancel" value="취소" onclick="location.href='/'">							
						</div>						
					</form>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Your Website 2019</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{vendor/chart.js/Chart.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{js/demo/chart-area-demo.js}"></script>
	<script th:src="@{js/demo/chart-pie-demo.js}"></script>
	<script th:src="@{js/sewJoin.js}"></script>
	<script type="text/javascript">
		$("form").submit(function(e){
			var catVaild = 0;
			var typeVaild = 0;
			var typeValue = document.sewAddProdForm.prodType.value;
			var catValue = document.sewAddProdForm.prodCat.value;
			e.preventDefault();
			if (typeValue != "분류") {
				typeVaild = 1;
			}			
			if (catValue != "카테고리") {
				catVaild = 1;
			}
			if (typeVaild == 1 && catValue == 1){
				$("form").unbind("submit").submit();
			}
		});
	</script>

</body>

</html>
