<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RedBook</title>
    <link rel="icon" href="img/logo/favicon.png">
    <link rel="stylesheet" th:href="@{css/core-style.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/interBook.css}">
    <link rel="stylesheet" th:href="@{slick/slick.css}">
    <link rel="stylesheet" th:href="@{slick/slick-theme.css}">
    <link rel="stylesheet" th:href="@{css/slider.css}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script th:src="@{js/jquery/jquery-2.2.4.min.js}"></script>
    <script th:src="@{js/popper.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/plugins.js}"></script>
    <script th:src="@{js/classy-nav.min.js}"></script>
    <script th:src="@{js/active.js}"></script>
    <script th:src="@{js/includeHTML.js}"></script>
    <script th:src="@{slick/slick.js}"></script>
    <script th:src="@{slick/slick.min.js}"></script>
    <script th:src="@{js/slider.js}"></script>
</head>
<body>
    <div id="headers" th:replace="includeHeader::header"></div>
    <section class="slider">
    	<button type="button" class="slick-prev">
    		왜 안나와
    	</button>
		<div>
			<img th:src="@{img/bg-img/background1.jpg}">
	    </div>
	    <div>
			<img th:src="@{img/bg-img/background2.jpg}">
	    </div>
	    <div>
			<img th:src="@{img/bg-img/background3.png}">
	    </div>	    
	    <div>
			<img th:src="@{img/bg-img/background4.jpg}">
	    </div>	    
	    <button type="button" class="slick-next">
	    	왜 안나와
	    </button>	    
  	</section>
    <section class="new_arrivals_area section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>새로운 상품</h2>
                    </div>
                </div>
            </div>
        </div>
    <!-- 
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="popular-products-slides owl-carousel">
                        <a href="{{ json[0]['url'] }}">
                            <div class="single-product-wrapper">
                                <div class="product-img">
                                    <img style="width: 255px; height: auto; overflow: hidden;" src="{{ json[0]['img'] }}" alt="">
                                </div>
                                <div class="product-description">
                                    <span>{{ json[0]["site"] }}</span>
                                    <h6>{{ json[0]["title"] }}</h6>
                                    <p class="product-price">{{ json[0]["price"] }}원</p>
                                </div>
                            </div>
                        </a>
                        <a href="{{ json[1]['url'] }}">
                            <div class="single-product-wrapper">
                                <div class="product-img">
                                    <img src="{{ json[1]['img'] }}" alt="">
                                </div>
                                <div class="product-description">
                                    <span>{{ json[1]["site"] }}</span>
                                    <h6>{{ json[1]["title"] }}</h6>
                                    <p class="product-price">{{ json[1]["price"] }}원</p>
                                </div>
                            </div>
                        </a>
                        <a href="{{ json[2]['url'] }}">
                            <div class="single-product-wrapper">
                                <div class="product-img">
                                    <img src="{{ json[2]['img'] }}" alt="">
                                </div>
                                <div class="product-description">
                                    <span>{{ json[2]["site"] }}</span>
                                    <h6>{{ json[2]["title"] }}</h6>
                                    <p class="product-price">{{ json[2]["price"] }}원</p>
                                </div>
                            </div>
                        </a>
                        <a href="{{ json[3]['url'] }}">
                            <div class="single-product-wrapper">
                                <div class="product-img">
                                    <img src="{{ json[3]['img'] }}" alt="">
                                </div>
                                <div class="product-description">
                                    <span>{{ json[3]["site"] }}</span>
                                    <h6>{{ json[3]["title"] }}</h6>
                                    <p class="product-price">{{ json[3]["price"] }}원</p>
                                </div>
                            </div>
                        </a>
                        <a href="{{ json[4]['url'] }}">
                            <div class="single-product-wrapper">
                                <div class="product-img">
                                    <img src="{{ json[4]['img'] }}" alt="">
                                </div>
                                <div class="product-description">
                                    <span>{{ json[4]["site"] }}</span>
                                    <h6>{{ json[4]["title"] }}</h6>
                                    <p class="product-price">{{ json[4]["price"] }}원</p>
                                </div>
                            </div>
                        </a>
                        <a href="{{ json[5]['url'] }}">
                            <div class="single-product-wrapper">
                                <div class="product-img">
                                    <img src="{{ json[5]['img'] }}" alt="">
                                </div>
                                <div class="product-description">
                                    <span>{{ json[5]["site"] }}</span>
                                    <h6>{{ json[5]["title"] }}</h6>
                                    <p class="product-price">{{ json[5]["price"] }}원</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    -->
    </section>
    <div class="brands-area d-flex align-items-center justify-content-between">
        <div class="single-brands-logo">
            <img src="#" alt="">
        </div>
        <div class="single-brands-logo">
            <a href="http://book.interpark.com/bookPark/html/book.html">
                <img src="img/made-img/ll.png" alt="">
            </a>
        </div>
        <div class="single-brands-logo">
            <a href="http://www.yes24.com">
                <img src="img/made-img/yl.jpg" alt="">
            </a>
        </div>
        <div class="single-brands-logo">
            <a href="http://www.kyobobook.co.kr/index.laf?OV_REFFER=https://www.google.com/">
                <img src="img/made-img/kl.jpg" alt="">
            </a>
        </div>
        <div class="single-brands-logo">
            <img src="#" alt="">
        </div>
    </div>
    <div id="footers"></div>
</body>
</html>