<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sew</title>
</head>
<body>	
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" th:fragment="nav">		
		<div class="container">
		    <ul class="top-navbar-nav ml-auto">		      			      
	      		<li class="nav-item">
	      			<a th:if="${session.mem!=null}" th:text="${session.mem.memName}" th:href="@{login}" class="top-nav-link"></a>
		      		<a th:unless="${session.mem!=null}" th:href="@{login}" class="top-nav-link">LOGIN</a>		      				      	
      		  	</li>
		      <li class="nav-item"><a th:href="@{joinTerms}" class="top-nav-link">JOIN US</a></li>
		      <li class="nav-item"><a href="contact.html" class="top-nav-link">HELP</a></li>
		    </ul>
		</div>
		<div class="nav-line"></div>		
		<div class="container">
		  <a class="navbar-brand" th:href="@{/}">
		  	<img th:src="@{img/logo/logo.png}" width="200px" height="auto" />
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="oi oi-menu"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="ftco-nav">
		    <ul class="navbar-nav ml-auto">		      
		      <li class="nav-item dropdown">
		         <a class="nav-link" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MEN</a>
		         <div class="dropdown-menu" aria-labelledby="dropdown04">
		         	<a class="dropdown-item" href="#">자켓/코트/점퍼</a>
	           		<a class="dropdown-item" href="#">니트/가디건/스웨터</a>	
		            <a class="dropdown-item" href="#">셔츠</a>	           		
		         	<a class="dropdown-item" href="#">맨투맨/후드</a>
		            <a class="dropdown-item" href="#">티셔츠</a>
		            <a class="dropdown-item" href="#">데님</a>
		            <a class="dropdown-item" href="#">팬츠</a>
		         </div>
		      </li>
			  <li class="nav-item dropdown">
		         <a class="nav-link" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">WOMEN</a>
		         <div class="dropdown-menu" aria-labelledby="dropdown04">
		         	<a class="dropdown-item" href="#">자켓/코트/점퍼</a>
	           		<a class="dropdown-item" href="#">니트/가디건/스웨터</a>
		            <a class="dropdown-item" href="#">블라우스/셔츠</a>
		            <a class="dropdown-item" href="#">원피스/스커트</a>		           			
		         	<a class="dropdown-item" href="#">맨투맨/후드</a>
		            <a class="dropdown-item" href="#">티셔츠</a>
		            <a class="dropdown-item" href="#">데님</a>
		            <a class="dropdown-item" href="#">팬츠/레깅스</a>
		         </div>
		      </li>
		      <li class="nav-item"><a href="contact.html" class="nav-link">SALE</a></li>
		      <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
		
		    </ul>
		  </div>
		</div>
	</nav>
	<script src="js/jquery/jquery-2.2.4.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/classy-nav.min.js"></script>
	<script src="js/active.js"></script>
</body>
</html>