<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sew</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700"
	rel="stylesheet">
<link href="http://allfont.net/allfont.css?fonts=agency-fb"
	rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300&display=swap" rel="stylesheet">
<link href="http://allfont.net/allfont.css?fonts=agency-fb" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:300&display=swap&subset=devanagari,latin-ext" rel="stylesheet">
<link rel="icon" th:href="@{img/logo/favicon.png}">
<link rel="stylesheet" th:href="@{css/open-iconic-bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/animate.css}">
<link rel="stylesheet" th:href="@{css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{css/owl.theme.default.min.css}">
<link rel="stylesheet" th:href="@{css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{css/aos.css}">
<link rel="stylesheet" th:href="@{css/ionicons.min.css}">
<link rel="stylesheet" th:href="@{css/bootstrap-datepicker.css}">
<link rel="stylesheet" th:href="@{css/jquery.timepicker.css}">
<link rel="stylesheet" th:href="@{css/flaticon.css}">
<link rel="stylesheet" th:href="@{css/icomoon.css}">
<link rel="stylesheet" th:href="@{css/style.css}">
<link rel="stylesheet" th:href="@{slick/slick.css}">
<link rel="stylesheet" th:href="@{slick/slick-theme.css}">
<link rel="stylesheet" th:href="@{css/slider.css}">
<link rel="stylesheet" th:href="@{css/nav.css}">
<link rel="stylesheet" th:href="@{css/join.css}">
<link rel="stylesheet" th:href="@{css/sewMyPage.css}">
<link rel="stylesheet" th:href="@{css/login.css}">
</head>
<body>
	<nav
		class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
		id="ftco-navbar" th:replace="sewNav::nav"></nav>
	<!-- END nav -->

	<!-- Join Form -->
	<section class="ftco-section ftco-product">
		<div class="container">
			<div class="myPageContainer">
				<div id="aside" class="myPageSide" th:replace="sewMyPage/sewMyPageSideNav::side"></div>								
				<div class="editBox">
					<h3 style="font-weight: bold;">회원탈퇴</h3>					
					<div class="findIdBox">
						<h5 class="mb-4">비밀번호 입력</h5>	
						<div>
							<form id="findPwForm" name="findPwForm" method="post">
								<div class="loginInputSec">
									<input type="password" id="withdrawalPw" name="memId" placeholder="비밀번호" >
								</div>
								<input type="submit" id="loginBtn" name="loginBtn" value="회원탈퇴"> 
							</form>
						</div>
						<div class="inputChkBox" id="idChkBox1">
							<span>비밀번호를 입력해주세요.</span>
						</div>						
						<div class="inputChkBox" id="idChkBox3">
							<span>비밀번호를 확인해주세요.</span>
						</div>
						<hr>	
						<div id="idChkBox1">
							<span>회원가입시 등록된 모든 정보가 삭제되고 복구가 불가능합니다.</span>
						</div>				
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END Join Form -->

	<footer th:replace="sewFooter::footer"
		class="ftco-footer bg-light ftco-section"></footer>
	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen">
		<svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none"
				stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none"
				stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg>
	</div>
	
	<script th:src="@{js/jquery.min.js}"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script th:src="@{js/popper.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/jquery.easing.1.3.js}"></script>
	<script th:src="@{js/jquery.waypoints.min.js}"></script>
	<script th:src="@{js/jquery.stellar.min.js}"></script>
	<script th:src="@{js/owl.carousel.min.js}"></script>
	<script th:src="@{js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{js/aos.js}"></script>
	<script th:src="@{js/jquery.animateNumber.min.js}"></script>
	<script th:src="@{js/bootstrap-datepicker.js}"></script>
	<script th:src="@{js/scrollax.min.js}"></script>
	<script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false}"></script>
	<script th:src="@{js/google-map.js}"></script>
	<script th:src="@{js/main.js}"></script>
	<script th:src="@{slick/slick.js}"></script>
	<script th:src="@{slick/slick.min.js}"></script>
	<script th:src="@{js/slider.js}"></script>
	<script th:src="@{js/sewJoin.js}"></script>
	<script th:src="@{js/sewMyPage.js}"></script>
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript">
		$("form").submit(function(e){
			var findId = document.findPwForm.memId.value;
			e.preventDefault();
			
			if (findId==""){						
				$("#idChkBox1").show()
				$("#idChkBox3").hide()
			} else if (findId!=""){
				$.ajax({
					async: true,
				    type : 'POST',
				    data : JSON.stringify({"memPw": findId}),
				    url : "",
				    dataType : "json",
				    contentType: "application/json; charset=UTF-8",
				    success : function(data) {
				        if (data.sendEmail) {
				        	$("#idChkBox1").hide()							
							$("#idChkBox3").hide()
				        } else {
				        	$("#idChkBox1").hide()							
							$("#idChkBox3").show()
				        }
				    },
				    error : function(error) {
				        alert("error : " + error);
				    }
				});								
			}	   			
		});
	</script>
</body>
</html>